# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env

# Logs
*.log

# Temporary files
*.bak
*.swp
*~

# Dependency directories
site-packages/
dist/
build/
*.egg-info/
